<div class="wrap-product">
    <div class="pro-summmry" {{action "toggleModal" product}}>
        <div class="product-pic text-center">
            <img src='{{url}}uploads/products/high/{{product.image}}'>
        </div>
        <div class="product-information">
          <div class="product-name text-center">
              <h3>{{product.name}}</h3>
              <p {{action 'seeAll' product.store_id product.store_id bubbles=false}}>{{product.store_name}}</p>
          </div>
          <hr>
          <div class="price text-center">
              <span>{{format-currency product.price}}</span>
          </div>

          <div class="">
              <a href="" class="icon-bookmark"></a>
          </div>
        </div>

        <div class="toolbar {{if isProductAdded 'productAdded' ''}}">
          <div class="quantity">
            <div {{action 'removeFromCart' product bubbles=false}} class="btn-remove-product"><span>-</span></div>
            <span id='span_{{product.id}}' class="preview-item shake shake-slow">
              {{addedProduct.quantity}}
            </span>
            <div {{action 'addToCart' product bubbles=false}} class="btn-add-product"><span>+</span></div>
          </div>
          <button {{action 'addProductToCart' product bubbles=false}} class="btn-add">agregar</button>
        </div>

    </div>
    {{#if addedProduct}}
    <div class="product-quantity">
      <span>{{addedProduct.quantity}}</span>
    </div>
    {{/if}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog id=product.id close='toggleModal' translucentOverlay=true container-class='fade-in-bottom-dialog'}}
    {{restaurant-product-detail isShowingModal=isShowingModal product=productInfo isProductAdded=isProductAdded addToCart='addToCart'}}
  {{/modal-dialog}}
{{/if}}
