<!--<div id="id1" class="tab-pane fade row">-->

<div class="breadcrumbBox">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li class="active">Mis datos</li>
        </ol>
    </div>
</div>

<div class="changePwdPage">
    <div class="col-sm-12">
        <h2 class="blockHeading block-heading-profile">
            Mis datos
            <a class="Cerrar-sesin " href="" {{action "logout"}} id="logout">Cerrar sesión</a>
        </h2>

    </div>
    <div class="profileDtails col-sm-12  text-center">
        <div class="custom-file-upload ">
            <div class="profile-pic thumb74">
                <a href="">
                  {{#if noImage}}
                      <img src="/assets/images/pictogramloader-09.svg" alt="user-rappi">
                  {{else}}
                      <img src={{model.pic}} alt="user-rappi">
                  {{/if}}
                </a>
            </div>
            <div class=" text-center">

                <input title="Haga clic para cambiar de imagen" type="file" id="profile_image_45g7"
                       onchange={{action "onImageSelect" this}} accept="image/x-png,image/gif,image/jpeg">
                <span>Edita tu foto</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 queryForm pdRight30 ">
        <div class="form-group profile-input">
            <img class="input-icon " src="/assets/images/user.svg" alt=""/>
          {{input type="text" class="form-control form-control-profile"  placeholder="nombre" value=model.first_name}}
        </div>
        <div class="form-group profile-input">
            <img class="input-icon " style="background-color: #eee; opacity: 1" src="/assets/images/mail.svg" alt=""/>
          {{input type="text" class="form-control form-control-profile"  placeholder="email" value=email disabled=true}}
        </div>
        <div class="form-group cust-twoArrows profile-input">
          {{bootstrap-datepicker placeholder="Fecha de nacimiento" class="form-control form-control-profile" autoclose=true todayBtn=true orientation="right" value=model.birth_date}}
        </div>
    </div>

    <div class="col-sm-6 queryForm pdLeft30">
        <div class="form-group profile-input">
            <img class="input-icon " src="/assets/images/user.svg" alt=""/>
          {{input type="text" class="form-control form-control-profile" placeholder="apellido" value=model.last_name}}
        </div>
        <div class="form-group profile-input">
            <img class="input-icon phone-image" src="/assets/images/phone.svg" alt=""/>
              <span class="profile-country-code">
                  <img src="assets/images/{{countryFlag}}" title={{countryName}}>
                   <small>{{phonePrefix}}</small></span>
          {{input disabled=true type="text" class="form-control form-control-profile" placeholder="teléfono no" value=phone}}
            <img {{action 'updatePhone' model}} class="phone-edit" src="assets/images/pencil-striped.svg" title="Actualizar el número de teléfono">
        </div>
        <div class="form-group cust-twoArrows profile-input">
            <select placeholder="Sexo" class="form-control form-control-profile"
                    onchange={{action "onSelectGender" value="target.value"}}>
                <option value="" disabled selected>Sexo</option>
              {{select-option model.gender 'M' 'Masculino'}}
              {{select-option model.gender 'F' 'Femenino'}}
            </select>
        </div>
    </div>
    <div class="col-sm-12 text-center">
    <p class="btnBox">
      {{#if updateProcess}}
          <div class="hvr-pulse-shrink btn btn-green">por favor espera...</div>
      {{else}}
          <button type="button" {{action "submit" model}} class="btn btn-green-profile">ACTUALIZAR</button>
      {{/if}}
        </p>
    </div>
</div>

