<div class="wrapper ">
    <div class="inner-wrap">
        <!-- ..................................  header starts ..............................  -->

        <!-- ..................................  main page content starts ..............................  -->
        <main>
            <div class="antojo-position-relative">
            <div class="antojo-first-image"></div>
            <div class="antojo-second-image"></div>
            <!-- .........................................  bg block block-two starts ......................................................... -->
            <div class="bg-block block-two antojo-section {{if rappiOrder.isNotEmpty 'with-fixed-order-panel' ''}} {{if mobileSite 'antojo-animation-bg' ''}}">

                <div class="container">
                    <div class="row section-dev">
                        <div class="col-sm-offset-2 col-sm-8  text-center">
                           <img id="antojo-section-img" src="assets/images/section-name.png">
                        </div>
                    </div>
                    <div class="queriesWrapper">
                        <div class="container">
                            <div class="antojo-position-relative">
                            <div class="row" id="what-div" >
                                <div class="col-sm-offset-2 col-sm-8 queryForm  text-center">
                                    <h2 class="query-heading" id="ele2">
                                        ¿Qué quieres?
                                    </h2>
                                    <div class="antojo-input">
                                    {{textarea class="col-sm-offset-1" rows="5" placeholder="Escribe aqui lo que necesitas. !Cualquier cosa!" id='what' value=what}}
                                      {{#if blankField}}
                                          <div class="row">
                                              <div class="col-sm-12 text-center">
                                                <span class={{color}}>
                                                  {{message}}
                                                </span>
                                              </div>
                                          </div>
                                      {{/if}}
                                    <button type="submit" class="btn btn-green antojo-btn" {{action 'addWhat'}}>CONTINUAR</button>
                                    </div>
                                    <span class="los-antojos">*LOS ANTOJOS TIENEN UN RECARGO DEL 15%</span>
                                  </div>
                            </div>
                            <div class="row translate-antojo-where-div" id="where-div" >
                              <div class="col-sm-offset-2 col-sm-8 queryForm  text-center">
                                  <h2 class="query-heading where-heading" id="ele3">
                                      <img src="assets/images/arrow-back.svg" {{action 'backToWhat'}}>
                                      ¿Dónde lo conseguimos?
                                  </h2>
                                  <div class="antojo-input">
                                    {{textarea class="col-sm-offset-1"rows="5" placeholder="Escribe aquí el sitio donde podemos encontrar lo que necesitas." id='where' value=where}}
                                    {{#if blankField}}
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <span class={{color}}>
                                                  {{message}}
                                                </span>
                                            </div>
                                        </div>
                                    {{/if}}
                                      <button type="submit" class="btn btn-green-profile antojo-btn" {{action 'addWhim'}}>AGREGAR A LA CANASTA</button>
                                  </div>
                                  <span class="los-antojos">*LOS ANTOJOS TIENEN UN RECARGO DEL 15%</span>
                              </div>
                            </div>
                          </div>

                         </div>
                     </div>
                  </div>
              </div>
              <div class="antojo-outer">
                  <span class="antojo-outer-span1">{{antojo-outer-1}}</span>
                  <span class="antojo-outer-span2">{{antojo-outer-2}}</span>
              </div>
            </div>
            <div class="row favorsHomePage">
                <div class="col-sm-12 productList-footer">
                  {{#if model.whims}}
                      <h2 class="blockHeading" id="ele4">Antojos / favores anteriores</h2>
                  {{/if}}
                  {{#if loading}}
                      <div class="loading"><img src="assets/images/loading.svg"></div>
                  {{/if}}
                    <ul id="asd" class="scroller">
                      {{#each model.whims as |whim|}}
                          <li>
                              <div class="toTable">
                                  <div class="toTable-cell">
                                      <div class="product-name">
                                          <h3>{{whim.what}}</h3>
                                          <span>{{whim.where}}</span>
                                      </div>
                                  </div>
                                  <div class="toTable-cell timeLine">
                                      <!--<span>hace 3 semanas</span>-->
                                      <span>{{moment-from-now whim.created interval=1000}}</span>
                                  </div>
                                  <div class="toTable-cell text-right">
                                      <a style={{if whim.isAdded 'pointer-events:none;' ''}} {{action 'addToBasket' whim}} class="accent-color">
                                        {{whim.buttonText}}</a>
                                  </div>
                              </div>
                          </li>
                      {{/each}}
                        {{#if noMoreWhims}}
                            <li><div class="no-more-whims">No más caprichos</div></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <!-- ..................................  breadcrumb section .................................... -->
           <!-- <div class="breadcrumbBox">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li><a href="#">Inicio</a></li>
                                <li class="active">Antojos y deseos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- ..................................  content section .................................... -->

        </main>
      {{landing-page-popular-search-block data=model.popularSearch}}
    </div>
</div>
