<div class="links-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 popular-search-container">
                <h3 class="logo-footer"><a href=""><img src="/assets/images/logo-rappi-2@2x.png"
                                                        class="logo-foot-2x" alt="logo-rappi"/></a></h3>

            </div>

            <div class="col-sm-4">
                <div class="social-footer-links">
                    <ul class="clearfix">
                        <li><a {{action 'redirectToLinkedIn'}} class="linkedin"></a></li>
                        <li><a {{action 'redirectToFacebook'}} class="facebook"></a></li>
                        <li><a {{action 'redirectToTwitter'}} class="twitter"></a></li>
                        <li><a {{action 'redirectToInstagram'}} class="instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{yield}}
